<head>
    <title>KARASU</title>
</head>

<body>
    <div class="container">
        <div class="formulaire">
            <form id="salut" class="pure-form pure-form-aligned formulaireInformationAccueil">
                <fieldset>
                    <div class="pure-control-group pseudo">
                        <label for="aligned-name" class="labelInfosFormulaire">Pseudo :</label>
                        <input type="text" id="pseudo" placeholder="Votre pseudo" />
                        <span class="pure-form-message-inline messageObligatoire">Conseillé</span>
                    </div>
                    <div class="pure-control-group email">
                        <label for="aligned-email" class="labelInfosFormulaire">Email : </label>
                        <input type="email" id="email" placeholder="Votre email" />
                    </div>
                    <div class="pure-control-group mdp">
                        <label for="aligned-password" class="labelInfosFormulaire">Mot de passe</label>
                        <input type="password" id="mdp" placeholder="Votre mot de passe" />
                    </div>
                    <div class="pure-control-group prenom">
                        <label for="aligned-foo" class="labelInfosFormulaire">Prénom : </label>
                        <input type="text" id="prenom" placeholder="Votre (très joli) prénom" />
                        <span class="pure-form-message-inline messageObligatoire">Champ obligatoire</span>
                    </div>
                    <div class="pure-control-group nom">
                        <label for="aligned-foo" class="labelInfosFormulaire">Nom : </label>
                        <input type="text" id="nom" placeholder="Votre (très sympa) nom" />
                    </div>
                    <div class="pure-controls">
                        <label for="aligned-cb" class="pure-checkbox" class="labelInfosFormulaire">
                            <input type="checkbox" id="aligned-cb" /> J&#x27;accepte les <a href="">conditions
                                d'utilisation</a></label>
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>