/* You can add global styles to this file, and also import other style files */
html{
    font-family: "Open Sans", serif ;
    margin: 2px;
    background-image:url("images/flowers.jpg");
    background-size:cover;
}